*-debug.log
*-error.log
**/.DS_Store
/.idea
/.vscode
/.github
/coverage
/tmp
/test
/node_modules
oclif.manifest.json

yarn.lock
package-lock.json
bun.lockb
.prettierrc.mjs
tsconfig.json
.mocharc.json
.eslintrc.json
.eslintignore

.misobox

